html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;

}

button {
    background-color: #5f9dc7;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.top {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(69, 87, 165, 0.4)), url("/Images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    color: white;
}

.videnLogo {
    height: 80px;
    padding: 10px;
}

.logoDescription {
    text-align: left;
    font-family: 'bitter', 'georgia', serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li a:hover {
    /* background-color: #2980b9; */
    text-decoration: underline;
}

.navigations ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}

.navigations li {
    display: inline-block;
    margin-right: 20px;
    /* text-decoration: none; */
}

.navigations ul li:nth-child(4) {
    background-color: #5f9dc7;
    padding: 10px;
    border-radius: 5px;
}

.navigations a.active {
    text-decoration: underline;
}

.solutions {
    color: white;
    padding-top: 25%;
    padding-bottom: 25%;
}

.why_us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.goal {
    display: flex;
    margin-top: 50px;
}

.content {
    flex: 1;
    background-color: #0D1A26;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.image {
    flex: 1;
}

.image img {
    width: 100%;
    height: 100%;
    /* Ensure the image takes the full height of the container */
    object-fit: cover;
    /* Maintain image aspect ratio */
}

.contact {
    background-image: url(/Images/contact.webp);
}

.contact_head {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.contact-info {
    padding: 20px;
    /* box-sizing: border-box; */
    color: white;
    text-align: left;
    /* text-shadow: black; */
}

.menu-button{
    display: none;
}

.solutions > h1{
    font-size: 57px;
    font-weight: 700;
}

.middle > h1{
    color: #1D2023;
    font-family: Georgia serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .navigations ul {
        display: none; /* Hide the regular navigation menu on smaller screens */
        position: absolute;
        top: 60px; /* Adjust the top position as needed */
        left: 0;
        width: 100%;
        background-color: #333; /* Background color for the mobile menu */
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navigations ul.show {
        display: flex; /* Show the mobile menu when the show class is applied */
        flex-direction: column;
    }

    .navigations li {
        display: block;
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid #555; /* Border between menu items */
    }

    .navigations li.active a {
        text-decoration: underline;
      }

    .menu-button {
        display: block; /* Show the menu button on smaller screens */
        background-color: #5f9dc7;
        color: #fff;
        font-size: 30px;
        /* padding: 10px 20px; */
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        /* top: 10px; */
        left: 10px;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        /* background-color: #fff; */
    }

    .header{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .videnLogo {
        height: 60px; /* Adjust the height as needed */
        padding: 0px;
        margin-top: 0px;
    }

    .logoDescription {
        display: none;
    }

    .solutions{
        padding-top: 100%;
    }

    .solutions > h1 {
        font-size: 30px;
    }

    .solutions > button{
        width: 75%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .middle > h1{
        font-size: 25px;
    }

    .why_us {
        flex-direction: column;
    }

    .goal{
        flex-direction: column;
    }

    .messages{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* margin-left: 15%; */
    }

    /* .contact-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } */

    input[type="submit"] {
        width: 100%;
    }
}